body {
  color: #fff;

}


.header { 
  padding: 51px 0 100px 0;
  background-image: url("../../img/background-1.png");
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.logo {
  max-width: 186px;
  position: absolute;
  bottom: -40%;
  left: 37%;
}

/* nav */

.navig{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
}

.nav-link{
  color: #fff;
  text-decoration: none;
  padding-right: 41px;

} 

.navig :last-child {
  padding-right: 0;
}

/* social */

.social__links {
  margin-right: 32px;
}

.social :last-child{
  margin-right: 0;
} 

 .social__image {
  width: 40px;
  height: 40px;
} 