body {
  color: #fff;
}


.header { 
  padding: 51px 0 100px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.logo {
  max-width: 186px;
  position: absolute;
  bottom: -45%;
  left: 35%;
}

/* nav */

.navig{
  font-size: 14px;
}

.nav-link{
  color: #fff;
  text-decoration: none;
  padding-right: 41px;
} 

.navig :last-child {
  padding-right: 0;
}

/* social */

.social__links {
  margin-right: 32px;
}

.social :last-child{
  margin-right: 0;
} 